---
import "@/styles/global.css";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Events from "../components/Events.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import logoImage from "@/assets/logo-black.svg";
import Sponsors from "../components/Sponsors.astro";
import Speakers from "../components/Speakers.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>AWS Community Day Taiwan 2023 - 專屬於 AWS 社群愛好者的年會</title>
		<meta name="description" content="AWS Community Day Taiwan 是一場從活動規劃、籌備到實踐，全由社群領袖發起的交流活動。活動將邀請來自 AWS 的全球用戶的專家與產業領導，透過技術交流、研討會及工作坊，彼此相互交流與學習，同時讓開發人員了解與認識 AWS 的最新技術與最佳實踐。"/>
		<meta name="og:title" content="AWS Community Day Taiwan 2023 - 專屬於 AWS 社群愛好者的年會"/>
		<meta name="og:description" content="AWS Community Day Taiwan 是一場從活動規劃、籌備到實踐，全由社群領袖發起的交流活動。活動將邀請來自 AWS 的全球用戶的專家與產業領導，透過技術交流、研討會及工作坊，彼此相互交流與學習，同時讓開發人員了解與認識 AWS 的最新技術與最佳實踐。"/>
		<link rel="og:image" content={logoImage.src}/>
		<meta name="twitter:card" content="summary_large_image"/>
		<link rel="canonical" href="https://aws-community-day-2023.vercel.app/" />
		<link rel="icon" content={logoImage.src}/>
	</head>
	<body>
		<Header/>
		<Hero/>
	 	<About/>
	 	<Events/>
		<Speakers/>
		<Sponsors/>
		<Footer/>
	</body>
</html>
