---
import { Home } from "../components/Home";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-white flex flex-col gap-0 items-start justify-start w-full h-full relative overflow-hidden">
		<Home/>
	</body>
</html>
