<a
	href="https://events.awscmd.tw/events/aws-community-day-2023"
	target="_blank"
	class="flex items-center justify-center gap-2 bg-[#232f3e] py-2"
>
	<span class="rounded-xl bg-green-600 px-2.5 py-0.5 text-xs text-white">
		HOT
	</span>
	<span class="text-white/90">活動報名開跑！馬上點我報名</span>
</a>
