---
import { cn, containerStyle } from "../lib/utils";
import Speaker from "./Speaker.astro";
import sher from "@/assets/speakers/sher.jpg";
import michelle from "@/assets/speakers/michelle.jpeg";
import { TrackTalk } from "./TrackTalk";

// const isStaging = import.meta.env.NODE_ENV === "staging" || import.meta.env.DEV;
---

<div
	id="events"
	style={{
		background:
			"linear-gradient(135deg, #252525 0%, #373737 0.01%, #232323 100%)",
	}}
	class="scroll-mt-16 py-12 md:py-16"
>
	<div class={cn(containerStyle, "flex flex-col gap-8 text-white")}>
		<h2 class="text-center text-2xl font-bold leading-snug md:text-3xl">
			活動議程
		</h2>
		<h3 class="text-xl font-semibold">大會主題演講 | Keynote</h3>
		<div class="flex flex-col gap-4">
			<span class="leading-loose">
				AWS Community Day Taiwan
				2023大會主題演講中，將以「學習」與「交流」為主軸，邀請到逢甲大學大學社會責任中心執行長佘日新講座教授分享雲端應用加速產業數位轉型發展趨勢與案例以及
				Databricks Sr. Developer Advocate Denny
				Lee將分享在資料科學與人工智慧領域的雲平台應用，並由AWS資深培訓經理Michelle為大家介紹雲端最新學習資源及方針。
			</span>
		</div>
		<div
			class="grid grid-cols-1 gap-4 text-center sm:grid-cols-2 md:grid-cols-3"
		>
			<Speaker
				name="佘日新"
				image={sher}
				title="逢甲大學講座教授兼大學社會責任中心執行長"
			/>
			<Speaker
				name="Denny Lee"
				image="https://microsites.databricks.com/sites/default/files/media/images/dataaisummit_speaker/Databricks_Denny-Lee_ev_1673479827597001ZdCI.jpg"
				title="Sr. Staff Developer Advocate, Databricks"
			/>
			<Speaker
				name="Michelle"
				image={michelle}
				title="Sr. Business Development Manager,"
				extraTitle="AWS Training and Certification"
			/>
		</div>
		<h3 class="text-xl font-semibold">豐富議程資訊</h3>
		<table class="block overflow-x-scroll">
			<thead>
				<tr class="border-b border-gray-400/50">
					<th>時間</th>
					<th>Track A</th>
					<th>Track B</th>
				</tr>
			</thead>
			<tbody>
				<tr class="border-b border-gray-400/50">
					<td class="text-sm text-white/80 md:whitespace-nowrap"
						>10:55 ~ 11:35</td
					>
					<td>
						<TrackTalk
							title="從地上爬到天空飛, 我怎麼辦到的 (From On-Prem To Cloud, how did I do that )"
							speaker="Gordon Wei"
						/>
					</td>
					<td>
						<TrackTalk
							title="AWS CDK 打造 MongoDB Atlas Serverless 應用"
							speaker="Pahud Hsieh"
						/>
					</td>
				</tr>
				<tr class="border-b border-gray-400/50">
					<td class="text-sm text-white/80 md:whitespace-nowrap"
						>11:45 ~ 12:25</td
					>
					<td>
						<TrackTalk
							title="AWS Amplify x Flutter 打造數十萬用戶的天氣 App - 天氣即時預報 on AWS"
							speaker="Eric Ruan"
						/>
					</td>
					<td>
						<TrackTalk title="精彩議程 即將公開" speaker="Ernest Chiang" />
					</td>
				</tr>
				<tr class="border-b border-gray-400/50">
					<td class="text-sm text-white/80 md:whitespace-nowrap"
						>12:35 ~ 13:15</td
					>
					<td>
						<TrackTalk title="精彩議程 即將公開" speaker="徐方繹" />
					</td>
					<td>
						<TrackTalk
							title="SaaS 軟體 PM 必備的技術觀念 - AWS 與軟體資安"
							speaker="Ray Lin"
						/>
					</td>
				</tr>
				<tr class="border-b border-gray-400/50">
					<td class="text-sm text-white/80 md:whitespace-nowrap"
						>13:25 ~ 14:05</td
					>
					<td>
						<TrackTalk title="精彩議程 即將公開" speaker="Bob Yeh" />
					</td>
					<td>
						<TrackTalk
							title="藉助 AWS 日誌數據分析創新方案 完美結合資訊安全與服務應用任務"
							speaker="Samuel"
						/>
					</td>
				</tr>
				<tr class="border-b border-gray-400/50">
					<td class="text-sm text-white/80 md:whitespace-nowrap"
						>14:15 ~ 14:55</td
					>
					<td>
						<TrackTalk
							title="Stable Diffusion 如何助力商業創新"
							speaker="Eric Liou"
						/>
					</td>
					<td>
						<TrackTalk title="雲端安全那點小事" speaker="Ethan" />
					</td>
				</tr>
				<tr class="border-b border-gray-400/50">
					<td class="text-sm text-white/80 md:whitespace-nowrap"
						>15:05 ~ 15:45</td
					>
					<td>
						<TrackTalk title="資料領域的應用" speaker="Scott Hsieh" />
					</td>
					<td>
						<TrackTalk title="精彩議程 即將公開" speaker="舒安" />
						<TrackTalk
							title="打造國際級AI平台：最大化影視音製作效率"
							speaker="Frinny"
						/>
					</td>
				</tr>
				<tr class="border-b border-gray-400/50">
					<td class="text-sm text-white/80 md:whitespace-nowrap"
						>15:50 ~ 16:00</td
					>
					<td>
						<TrackTalk title="Lightning Talk" />
					</td>
					<td>
						<TrackTalk title="-" />
					</td>
				</tr>
				<tr class="border-b border-gray-400/50">
					<td class="text-sm text-white/80 md:whitespace-nowrap"
						>16:00 ~ 16:30</td
					>
					<td>
						<TrackTalk title="深度參會抽獎及合照" />
					</td>
					<td>
						<TrackTalk title="-" />
					</td>
				</tr>
			</tbody>
		</table>
		<h3 class="text-xl font-semibold">其他活動</h3>
		<table>
			<thead>
				<tr class="border-b border-gray-400/50">
					<th>時間</th>
					<th>場次</th>
				</tr>
			</thead>
			<tbody>
				<tr class="border-b border-gray-400/50">
					<td class="text-sm text-white/80 md:whitespace-nowrap"
						>10:55 ~ 13:15</td
					>
					<td>
						<TrackTalk title="Chalk Talk" speaker="Joshua" />
					</td>
				</tr>
				<tr class="border-b border-gray-400/50">
					<td class="text-sm text-white/80 md:whitespace-nowrap"
						>13:45 ~ 15:45</td
					>
					<td>
						<TrackTalk
							title="一日系列 | 雲端工程師 Build a full-stack website using the CDK tool"
							speaker="Wyne & Ernest"
						/>
					</td>
				</tr>
			</tbody>
		</table>
		<span class="text-center text-xl font-semibold text-gray-100">
			更多精彩議程即將公開，敬請期待
		</span>
	</div>
</div>
