---
import { cn, containerStyle } from "../lib/utils";
---

<div id="events" style={{
	background: "linear-gradient(135deg, #252525 0%, #373737 0.01%, #232323 100%)"
}}>
	<div class={cn(containerStyle, "flex flex-col")}>

	</div>
</div>