---
import { cn, containerStyle } from "../lib/utils";
import Speaker from "./Speaker.astro";
import sher from "@/assets/speakers/sher.jpg";
import michelle from "@/assets/speakers/michelle.jpeg";
---

<div
	id="events"
	style={{
		background:
			"linear-gradient(135deg, #252525 0%, #373737 0.01%, #232323 100%)",
	}}
	class="scroll-mt-16 py-12 md:py-16"
>
	<div class={cn(containerStyle, "flex flex-col gap-8 text-white")}>
		<h2 class="text-center text-2xl font-bold leading-snug md:text-3xl">
			活動議程
		</h2>
		<h3 class="text-xl font-semibold">大會主題演講 | Keynote</h3>
		<div class="flex flex-col gap-4">
			<span class="leading-loose">
				AWS Community Day Taiwan
				2023大會主題演講中，將以「學習」與「交流」為主軸，邀請到逢甲大學大學社會責任中心執行長佘日新講座教授分享雲端應用加速產業數位轉型發展趨勢與案例以及
				Databricks Sr. Developer Adovocate Denny
				Lee將分享在資料科學與人工智慧領域的雲平台應用，並由AWS資深培訓經理Michelle為大家介紹雲端最新學習資源及方針。
			</span>
		</div>
		<div
			class="grid grid-cols-1 gap-4 text-center sm:grid-cols-2 md:grid-cols-3"
		>
			<Speaker
				name="佘日新"
				image={sher}
				title="逢甲大學講座教授兼大學社會責任中心執行長"
			/>
			<Speaker
				name="Denny Lee"
				image="https://microsites.databricks.com/sites/default/files/media/images/dataaisummit_speaker/Databricks_Denny-Lee_ev_1673479827597001ZdCI.jpg"
				title="Sr. Staff Developer Advocate, Databricks"
			/>
			<Speaker
				name="Michelle"
				image={michelle}
				title="Sr. Business Development Manager,"
				extraTitle="AWS Training and Certification"
			/>
		</div>
		<!--<span class="text-gray-100">更多精彩議程即將公開，敬請期待</span>-->
	</div>
</div>
