---
import { cn, containerStyle } from "../lib/utils";
import logo from "@/assets/logo-white.svg";
---

<div class="bg-[#232F3E] py-4">
  <div
    class={cn(
      containerStyle,
      "flex md:flex-row flex-col justify-between items-start md:items-center gap-8",
    )}
  >
    <img {...logo} class="h-16 w-auto" alt="AWS Community Day Taiwan Logo" />
    <ul class="flex flex-col md:items-end">
      <li>
        <a
          class="block py-2 text-gray-300"
          href="https://aws.amazon.com/tw/privacy/"
          rel="nofollow noopener"
          target="_blank">活動條款</a
        >
      </li>
      <li>
        <a
          class="block py-2 text-gray-300"
          href="https://www.facebook.com/groups/awsugtw"
          rel="nofollow noopener"
          target="_blank">Facebook</a
        >
      </li>
    </ul>
  </div>
  <div class={cn(containerStyle, "md:text-center text-white/50 text-xs mt-4")}>
    <span
      >All trademarks are property of their respective owners. Copyright 2023
      AWS User Group Taiwan</span
    >
  </div>
</div>
