---
import { cn, containerStyle } from "../lib/utils";
import Game from "./Game.astro";
import gameDay from "@/assets/gameday.jpg";
import jam from "@/assets/awsjam.jpg";
---

<div
	id="games"
	class={cn(containerStyle, "flex flex-col gap-8 py-12 md:py-16 scroll-mt-16")}
>
	<h2 class="text-center text-2xl font-bold leading-snug md:text-3xl">
		特色活動 不容錯過！
	</h2>
	<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
		<Game
			width="1280"
			height="960"
			src="https://pages.awscmd.tw/8D534C3B-2CA4-4587-9369-C5D876717971/1669212903306.jpeg"
			name="AWS BuilderCards"
			time="12:00 ~ 15:45 (隨時加入遊玩)"
			description="一起來玩 AWS 桌遊！AWS BuilderCards是一款有趣且具有教育意義的卡牌桌遊，讓我們一起透過桌遊探索 AWS 服務的排列組合！"
		/>
		<Game
			name="AWS Jam Lounge"
			src={jam}
			time="10:55 ~ 15:45 (隨時加入解題)"
			description="AWS Jam 是一個以遊戲化設計、高度互動、團隊合作為基礎建構的雲端技能實戰訓練活動。與同儕一起探索極限！"
		/>
		<Game
			name="AWS GameDay 英雄聯盟"
			src={gameDay}
			time="10:55 ~ 13:15"
			description="AWS GameDay 是一款基於 AWS 雲端運算建構、高度互動性且遊戲化的的雲端運算挑戰活動，玩家將能取得 Riot Games 所提供的《英雄聯盟》電競比賽賽事資料打造 AI 預測模型，爭取抱回大獎的機會。"
		/>
	</div>
</div>
