---
import { cn, containerStyle } from "@/lib/utils";
import logo from "@/assets/logo-black.svg";
import { CTAEventButton } from "./CTAEventButton";
---

<div class="sticky top-0 z-50 bg-white/90 backdrop-blur-sm">
	<div class={cn(containerStyle, "flex items-center justify-between h-16")}>
		<a href="#">
			<img
				{...logo}
				class="h-12 w-auto md:h-14"
				alt="AWS Community Day Taiwan Logo"
			/>
		</a>
		<ul class="hidden items-center gap-8 md:flex">
			<li>
				<a href="#about">關於我們</a>
			</li>
			<li>
				<a href="#events">活動議程</a>
			</li>
			<li>
				<a href="#games">特色活動</a>
			</li>
			<li>
				<a href="#sponsors">合作企業</a>
			</li>
		</ul>
		<CTAEventButton />
	</div>
</div>
