---
import { cn, containerStyle } from "../lib/utils";
---

<div
	class={cn(containerStyle, "flex flex-col gap-8 py-12 md:py-16 scroll-mt-16")}
>
	<h2 class="text-center text-2xl font-bold leading-snug md:text-3xl">
		Amazing People
	</h2>
</div>
