---
import { cn, containerStyle } from "../lib/utils";
import aws from "@/assets/aws.svg";
import _104 from "@/assets/104.svg";
import netron from "@/assets/netron.svg";
import iSweety from "@/assets/isweety.png";
import PartnerBrand from "./PartnerBrand.astro";
import ecv from "@/assets/ecv.svg";
import { Image } from "astro:assets";

const isStaging = import.meta.env.NODE_ENV === "staging" || import.meta.env.DEV;
---

<div id="sponsors" class="scroll-mt-16 py-12 md:py-16">
	<div class={cn(containerStyle, "flex flex-col gap-8")}>
		<h2 class="text-2xl font-bold leading-snug md:text-3xl">合作企業</h2>
		<ul
			class="grid place-items-center gap-16 py-8 sm:grid-cols-2 md:grid-cols-3"
		>
			<PartnerBrand href="https://aws.amazon.com/">
				<img {...aws} alt="AWS Logo" class="h-16" />
			</PartnerBrand>
			<PartnerBrand href="https://www.netron.asia/">
				<img {...netron} alt="Netron 網創資訊 Logo" class="h-16" />
			</PartnerBrand>
			<PartnerBrand href="https://www.ecloudvalley.com/tw/">
				<img
					{...ecv}
					alt="eCloudvalley 伊雲谷數位科技 Logo"
					class="h-16 w-auto"
				/>
			</PartnerBrand>
			<PartnerBrand href="https://104.com.tw/">
				<img {..._104} alt="104 Logo" class="h-16" />
			</PartnerBrand>
			<PartnerBrand href="https://www.isweety.com.tw/">
				<Image src={iSweety} alt="iSWEETY Logo" class="h-16 w-auto" />
			</PartnerBrand>
		</ul>
		<span>更多企業持續加入中，敬請期待</span>
	</div>
</div>
