---
import { cn, containerStyle } from "../lib/utils";
import aws from "@/assets/aws.svg";
import _104 from "@/assets/104.svg";
import netron from "@/assets/netron.svg";
import iSweety from "@/assets/isweety.png";
import PartnerBrand from "./PartnerBrand.astro";
import ecv from "@/assets/ecv.svg";
import kspdigi from "@/assets/kspdigi.svg";
import databricks from "@/assets/databricks.jpg";
import { Image } from "astro:assets";

// const isStaging = import.meta.env.NODE_ENV === "staging" || import.meta.env.DEV;
---

<div id="sponsors" class="scroll-mt-16 py-12 md:py-16">
	<div class={cn(containerStyle, "flex flex-col gap-8")}>
		<h2 class="text-center text-2xl font-bold leading-snug md:text-3xl">
			贊助企業
		</h2>
		<ul
			class="grid place-items-center gap-16 py-8 sm:grid-cols-2 md:grid-cols-3"
		>
			<PartnerBrand
				href="https://aws.amazon.com/"
				class="sm:col-span-2 md:col-span-3"
			>
				<img {...aws} alt="AWS Logo" class="h-16" loading="lazy" />
			</PartnerBrand>
			<PartnerBrand href="https://www.netron.asia/">
				<img
					{...netron}
					alt="Netron 網創資訊 Logo"
					class="h-16"
					loading="lazy"
				/>
			</PartnerBrand>
			<PartnerBrand href="https://www.ecloudvalley.com/tw/">
				<img
					{...ecv}
					alt="eCloudvalley 伊雲谷數位科技 Logo"
					class="h-20 w-auto"
					loading="lazy"
				/>
			</PartnerBrand>
			<PartnerBrand href="https://www.facebook.com/kspdigi/">
				<img
					{...kspdigi}
					alt="智慧高軟 Logo"
					class="h-20 object-contain sm:h-auto"
					loading="lazy"
				/>
			</PartnerBrand>
			<PartnerBrand href="https://104.com.tw/">
				<img
					{..._104}
					alt="104 Logo"
					class="h-20 object-contain sm:h-auto"
					loading="lazy"
				/>
			</PartnerBrand>
			<PartnerBrand href="https://www.isweety.com.tw/">
				<Image
					src={iSweety}
					alt="iSWEETY Logo"
					class="h-20 object-contain sm:h-auto"
					loading="lazy"
				/>
			</PartnerBrand>
			<PartnerBrand href="https://www.databricks.com/">
				<Image
					src={databricks}
					alt="databricks Logo"
					loading="lazy"
					class="h-12 object-contain sm:h-auto"
				/>
			</PartnerBrand>
		</ul>
		<div>
			<span>更多企業持續加入中，敬請期待！聯繫窗口：</span>
			<a href="mailto:sponsor@awscmd.tw" class="text-blue-600">
				sponsor@awscmd.tw
			</a>
		</div>
	</div>
</div>
