---
import Balancer from "react-wrap-balancer";

interface Props {
	title: string;
	speaker: string;
}

const { title, speaker } = Astro.props;
---

<div class="flex flex-col items-center gap-2 py-4 text-center">
	<span class="font-medium">
		<Balancer>{title}</Balancer>
	</span>
	<span class="text-xs text-gray-300">{speaker}</span>
</div>
